<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/Capstone Projects/Capstone Project 3/public/styles/main.css">
    <title>Monty's To-Do List</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-div">
                <ul class="list">
                    <li>
                        <a href="/"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                          </svg>Today</a>
                    </li>
                    <li>
                        <a href="/work"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hammer" viewBox="0 0 16 16">
                            <path d="M9.972 2.508a.5.5 0 0 0-.16-.556l-.178-.129a5.009 5.009 0 0 0-2.076-.783C6.215.862 4.504 1.229 2.84 3.133H1.786a.5.5 0 0 0-.354.147L.146 4.567a.5.5 0 0 0 0 .706l2.571 2.579a.5.5 0 0 0 .708 0l1.286-1.29a.5.5 0 0 0 .146-.353V5.57l8.387 8.873A.5.5 0 0 0 14 14.5l1.5-1.5a.5.5 0 0 0 .017-.689l-9.129-8.63c.747-.456 1.772-.839 3.112-.839a.5.5 0 0 0 .472-.334z"/>
                          </svg>Work</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="box" id="title">
             <h1> Work List </h1>
        </div>
        <div class="box">
            <% items.forEach(function (item, index) { %>
                <div class="item">
                    <input type="checkbox" id="item<%= index %>">
                    <span id="text<%= index %>"><p><%= item %></p></span>
                </div>
            <% }); %>
            <form class="item" action="/work" method="post">
                <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                <button type="submit" name="list" value="Work">+</button>
            </form>
        </div>
    </main>
    <footer>Created by Monty Montanez</footer>
    <script src="/client/client.js"></script>
</body>
</html>